<div class="col s12 m8 l9">
  <div class="row" *ngIf="tasks.length > 0">
    <!-- looping on posts array created -->
    <ul class="collection col s12 m12 l10" *ngFor="let task of tasks">
      <li class="collection-item avatar">
        <img (click)="ViewUserProfile(task.taskOwnerUsername)" src="http://placehold.it/50x50" alt="" class="circle" />
        <span (click)="ViewUserProfile(task.taskOwnerUsername)" class="title">{{ task.taskOwnerUsername }}</span>
        <p class="time">
          {{ TimeFromNow(task.createdAt) }}<br />
          You are Assigned to this tasked
        </p>
      </li>
      <div class="row">
        <div class="col s12">
          <div class="card">
            <!-- <div class="card-image">
              <img
                class="postImage"
                src="https://tce-live2.s3.amazonaws.com/media/media/2b7f1364-6c18-4b8d-a208-0aac26b4f5fe.jpg"
              />
            </div> -->
            <div class="card-content">
              <h6>Description</h6>
              <p>{{ task.taskId.postId.post }}</p>
              <h6>Compensation</h6>
              <p>{{ task.taskId.postId.compensation }}</p>
              <h6>Estimated Time</h6>
              <p>{{ task.taskId.postId.time }}</p>
              <app-post-map
                [latitude]="task.taskId.postId.geometry.coordinates[0]"
                [longitude]="task.taskId.postId.geometry.coordinates[1]"
              ></app-post-map>
            </div>
            <div class="card-action"></div>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <div class="row" *ngIf="tasks.length <= 0">
    <h3 class="test">You Have no Tasks to do</h3>
  </div>
</div>
