<div class="row">
  <div class="col s12 m12 l10">
    <div class="card postDiv">
      <div class="card-content">
        <div class="map">
          <app-map (latitude)="getLatitude($event)" (longitude)="getLongitude($event)"></app-map>
        </div>
        <form [formGroup]="postForm" novalidate (ngSubmit)="submitPost()">
          <div class="formDiv">
            <h6>Description (200 words):</h6>
            <textarea formControlName="post" class="materialize-textarea"></textarea>
            <h6>Compensation:</h6>
            <textarea formControlName="compensation" class="materialize-textarea"></textarea>
            <h6>Estimated Time:</h6>
            <textarea formControlName="time" class="materialize-textarea"></textarea>
            <div class="file-field input-field">
              <div class="row">
                <div class="col s6">
                  <div class="btn">
                    <span> <i class="material-icons">image</i> Image</span>
                    <input type="file" />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" />
                  </div>
                </div>
                <div class="col s6">
                  <button class="btn postBtn">
                    Post
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
