<!-- looping on posts array created -->
<ul class="collection col s12 m12 l10" *ngFor="let post of posts">
  <li class="collection-item avatar">
    <img
      src="https://hlpr-marketplace-images.s3.ca-central-1.amazonaws.com/{{ post.user.picS3Key }}"
      alt=""
      class="circle"
      (click)="ViewUserProfile(post.user)"
    />
    <span (click)="ViewUserProfile(post.user)" class="title">{{ post.username }}</span>
    <p class="time">
      {{ TimeFromNow(post.created) }}<br />
      <!-- Country -->
    </p>
  </li>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <!-- <div class="card-image">
          <img
            class="postImage"
            src="https://tce-live2.s3.amazonaws.com/media/media/2b7f1364-6c18-4b8d-a208-0aac26b4f5fe.jpg"
          />
        </div> -->
        <div class="card-content">
          <h6>Description</h6>
          <p>{{ post.post }}</p>
          <h6>Compensation</h6>
          <p>{{ post.compensation }}</p>
          <h6>Estimated Time</h6>
          <p>{{ post.time }}</p>
        </div>
        <div class="card-action">
          <!-- if user exist in array of likes than we add the css class notLiked else we add the class liked -->

          <i
            (click)="LikePost(post)"
            [ngClass]="!CheckInLikesArray(post.likes, user.username) ? 'notLiked' : 'liked'"
            class="material-icons"
            >thumb_up</i
          >
          <span class="iconSpan">
            {{ post.totalLikes }}
          </span>

          <i
            class="material-icons"
            [ngClass]="!CheckInLikesArray(post.comments, user.username) ? 'notLiked' : 'liked'"
            (click)="OpenCommentBox(post)"
            >chat</i
          >
          <span class="iconSpan">
            {{ post.comments.length }}
          </span>

          <button
            *ngIf="!CheckInRequestsArray(post.requests, user.username)"
            [ngClass]="post.username === user.username ? 'disabled' : ''"
            class="btn requestBtn"
            (click)="AddRequest(post)"
          >
            Request
          </button>
          <button class="btn disabled requestingBtn" *ngIf="CheckInRequestsArray(post.requests, user.username)">
            Requesting
          </button>
        </div>
      </div>
    </div>
  </div>
</ul>
