<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo">UniMarket</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Dropdown for request/task notifications -->
        <li class="dropdown-button dropdown-trigger">
          <p class="button"><a (click)="login()">LOGIN/SIGN UP</a></p>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="home">
  <div id="home-cover" class="bg-parallax animated fadeIn">
    <div id="home-content-box" class="text-center">
      <div id="title">
        <p class="brand-logo" style="margin-left: auto; font-size: 50px;">WELCOME TO UNIMARKET !</p>
      </div>
      <!-- <div class="card  card1">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="https://hlpr-marketplace-images.s3.ca-central-1.amazonaws.com/{{ user.picS3Key }}" />
        </div>
      </div> -->
      <div id="home-content-box-inner">
        <div class="container">
          <div class="card  card2">
            <div class="card-image waves-effect waves-block waves-light">
              <!-- <img class="activator" src="https://hlpr-marketplace-images.s3.ca-central-1.amazonaws.com/{{ user.picS3Key }}" /> -->
              <h4 style="margin-left: 15px; margin-top: 20px;"></h4>
              <p class="brand-logo" style="margin-left: 15px; margin-right: 15px; font-size: 25px; color: white; text-shadow: 2px 2px #000;">
                UniMarket is an online marketplace where students can get services from other peers in their community. We
                are proud to roll out this platform first for the Concordia community. Hope you find it useful, and please
                do not hesitate to leave us a feeback!
              </p>
            </div>

            <!-- <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
              <i class="material-icons right">more_vert</i> 

                <a class="secondary-content">
                  <i class="material-icons">info</i>
                </a>
              </span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"
                >Card Title<i class="material-icons right">close</i></span
              >
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
