<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo">HLPR</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Dropdown for request/task notifications -->
        <li class="dropdown-button dropdown-trigger">
          <p class="button"><a (click)="login()">LOGIN</a></p>
        </li>

        <!-- Dropdown for messages notifications -->
        <li class="dropdown-button dropdown-trigger1">
          <p class="button"><a (click)="login()">REGISTER</a></p>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="card  card1">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- <img class="activator" src="https://hlpr-marketplace-images.s3.ca-central-1.amazonaws.com/{{ user.picS3Key }}" /> -->
    <p class="brand-logo" style="margin-left: 15px">WELCOME TO HLPR MARKETPLACE!</p>
  </div>
</div>

<div class="card  card2">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- <img class="activator" src="https://hlpr-marketplace-images.s3.ca-central-1.amazonaws.com/{{ user.picS3Key }}" /> -->
    <h4 style="margin-left: 15px; margin-top: 20px;">Description</h4>
    <p class="brand-logo" style="margin-left: 15px"></p>
  </div>

  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">
      <!-- <i class="material-icons right">more_vert</i> -->

      <a class="secondary-content">
        <i class="material-icons">info</i>
      </a>
    </span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div>

<div class="card  card3">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- <img class="activator" src="https://hlpr-marketplace-images.s3.ca-central-1.amazonaws.com/{{ user.picS3Key }}" /> -->
    <h4 style="margin-left: 15px; margin-top: 20px;">I NEED HELP</h4>
    <p class="brand-logo" style="margin-left: 15px"></p>
  </div>
</div>
<div class="card  card4">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- <img class="activator" src="https://hlpr-marketplace-images.s3.ca-central-1.amazonaws.com/{{ user.picS3Key }}" /> -->
    <h4 style="margin-left: 15px; margin-top: 20px;">I WANT TO MAKE SOME MONEY</h4>
    <p class="brand-logo" style="margin-left: 15px"></p>
  </div>
</div>
