.test {
  text-align: center;
  font-size: 18px !important;
}

.collection {
  border: none !important;
}

.collection-item {
  border: none !important;
}

h6 {
  font-style: italic;
  font-weight: bold;
}
