<div class="container">
  <div class="row">
    <div class="col s10 offset-s1" id="panel">
      <!-- Spinner/Loading bar -->
      <div class="progress" *ngIf="showSpinner">
        <div class="indeterminate"></div>
      </div>

      <div id="errorMsg" *ngIf="errorMessage">
        <span>{{ errorMessage }}</span>
      </div>
      <form class="col s12" [formGroup]="signupForm" novalidate (ngSubmit)="signupUser()">
        <div class="row">
          <div class="input-field col s12">
            <input id="user_name" type="text" formControlName="username" />
            <label for="username">Username</label>
            <span
              class="error"
              *ngIf="!signupForm.controls['username'].valid && signupForm.controls['username'].touched"
              ><!-- Handeling error -->
              Username is required
            </span>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" formControlName="email" />
            <label for="email">Email</label>
            <span class="error" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"
              ><!-- Handeling error -->
              Email is required
            </span>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="pass-word" type="password" formControlName="password" />
            <label for="pass-word">Password</label>
            <span
              class="error"
              *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"
              ><!-- Handeling error -->
              Password is required
            </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field inline col s12">
            <input id="descr_iption" type="text" formControlName="description" />
            <label for="description">Description</label>
            <span
              class="error"
              *ngIf="!signupForm.controls['description'].valid && signupForm.controls['description'].touched"
              ><!-- Handeling error -->
              Description is required
            </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field inline col s12">
            <input id="major" type="text" formControlName="major" />
            <label for="major">Major</label>
            <span class="error" *ngIf="!signupForm.controls['major'].valid && signupForm.controls['major'].touched"
              ><!-- Handeling error -->
              Major is required
            </span>
          </div>
        </div>
        <div class="row"> 
          <button class="btn waves-effect" id="signupbtn" [disabled]="!signupForm.valid">Sign Up</button>
        </div>
        <!-- if checks throws error then do not send data -->
      </form>
    </div>
  </div>
</div>
